html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.start-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 548px;
  height: 357px;
  color: white;

  background: rgba(0, 0, 0, 0.7);
}